.unity-progress-bar__background {
    background-color: rgb(183, 82, 82);
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    border-bottom-left-radius: 13px;
}

.unity-progress-bar__progress {
    background-color: rgb(86, 192, 87);
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    border-bottom-left-radius: 13px;
}
