.tab {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    background-color: rgb(195, 195, 195);
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
}

.tab-pressed {
    background-color: rgb(128, 128, 128);
}
